.elementor-818 .elementor-element.elementor-element-3f2b53b1:not(.elementor-motion-effects-element-type-background),
.elementor-818 .elementor-element.elementor-element-3f2b53b1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F7F7F7;
}

.elementor-818 .elementor-element.elementor-element-3f2b53b1 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #81818133;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 15px 0px 15px;
}

.elementor-818 .elementor-element.elementor-element-3f2b53b1>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-818 .elementor-element.elementor-element-3937775e>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-818 .elementor-element.elementor-element-3937775e .info-box-title {
    font-size: 14px;
}

.elementor-818 .elementor-element.elementor-element-5de6714>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-818 .elementor-element.elementor-element-5de6714 .info-box-title {
    font-size: 14px;
}

.elementor-818 .elementor-element.elementor-element-60f98834>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-818 .elementor-element.elementor-element-60f98834 .info-box-title {
    font-size: 14px;
}

.elementor-818 .elementor-element.elementor-element-1b0d0ab7>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-818 .elementor-element.elementor-element-1b0d0ab7 .info-box-title {
    font-size: 14px;
}

.elementor-818 .elementor-element.elementor-element-2b783c57>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-818 .elementor-element.elementor-element-2b783c57:not(.elementor-motion-effects-element-type-background),
.elementor-818 .elementor-element.elementor-element-2b783c57>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f7f7f7;
}

.elementor-818 .elementor-element.elementor-element-2b783c57 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(129, 129, 129, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 15px 30px 15px;
}

.elementor-818 .elementor-element.elementor-element-2b783c57>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-818 .elementor-element.elementor-element-579ee12c>.elementor-element-populated {
    margin: 0% 15% 0% 0%;
    --e-column-margin-right: 15%;
    --e-column-margin-left: 0%;
}

.elementor-818 .elementor-element.elementor-element-5deb7ad3 {
    width: var( --container-widget-width, 100%);
    max-width: 100%;
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
}

.elementor-818 .elementor-element.elementor-element-5deb7ad3.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-818 .elementor-element.elementor-element-1a9af555 li:not(:last-child) {
    margin-bottom: 7px;
}

.elementor-818 .elementor-element.elementor-element-4c8d7316>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-818 .elementor-element.elementor-element-4c8d7316:not(.elementor-motion-effects-element-type-background),
.elementor-818 .elementor-element.elementor-element-4c8d7316>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f7f7f7;
}

.elementor-818 .elementor-element.elementor-element-4c8d7316 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 15px 020px 15px;
}

.elementor-818 .elementor-element.elementor-element-4c8d7316>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-818 .elementor-element.elementor-element-63b30143 .info-box-title {
    font-size: 18px;
    line-height: 28px;
}

.elementor-818 .elementor-element.elementor-element-24ff133e .mc4wp-form-fields {
    max-width: 380px;
}

@media(max-width:1024px) {
    .elementor-818 .elementor-element.elementor-element-5deb7ad3>.elementor-widget-container {
        padding: 010px 0px 015px 0px;
    }
}

@media(max-width:768px) {
    .elementor-818 .elementor-element.elementor-element-3f2b53b1 {
        padding: 020px 015px 0px 015px;
    }
    .elementor-818 .elementor-element.elementor-element-579ee12c {
        width: 100%;
    }
    .elementor-818 .elementor-element.elementor-element-579ee12c>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-818 .elementor-element.elementor-element-43f97062 {
        width: 100%;
    }
    .elementor-818 .elementor-element.elementor-element-56323447 {
        width: 100%;
    }
    .elementor-818 .elementor-element.elementor-element-63b30143>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }
}

@media(max-width:1024px) and (min-width:769px) {
    .elementor-818 .elementor-element.elementor-element-257c0d48 {
        width: 50%;
    }
    .elementor-818 .elementor-element.elementor-element-5ce62028 {
        width: 50%;
    }
    .elementor-818 .elementor-element.elementor-element-79e4b4a2 {
        width: 50%;
    }
    .elementor-818 .elementor-element.elementor-element-579ee12c {
        width: 50%;
    }
    .elementor-818 .elementor-element.elementor-element-43f97062 {
        width: 33.3%;
    }
    .elementor-818 .elementor-element.elementor-element-56323447 {
        width: 33.3%;
    }
}